[2020-05-13 09:29] no120030 opened #1 "[coc.nvim] error: UnhandledRejection: Launching server 'jedi""
Hello!

I have an error saying:

[code]

I checked the directory above and could not find .venv folder.
There are only:
* lib
* scripts
* CHANGELOG.md
* LICENSE
* Makefile
* package.json
* README.md

it seems like 'jedi-language-server' is not automatically installed in its virtualenv.

I am using python 3.8.2, virtualenv 20.0.18, and vim 8.2.
My virtual environment' pip list is:
[code]

I am not

[2020-05-13 09:47] kashewnuts commented on #1
I think this change is a problem. https://github.com/pappasam/coc-jedi/commit/1e157b60cf1498fc7b2a277c5da7f5ed4c9c6c04#diff-00c1c5bdcf93d16c502f067af37d2428R12
It should be `python3` command instead of `python` command.

[2020-05-13 09:54] no120030 commented on #1
@kashewnuts Can I just change it into python3?

[2020-05-13 14:14] pappasam commented on #1
Should be resolved in the latest release!

[2020-05-13 15:52] no120030 commented on #1
It is not resolved, and the issue is still the same. :(

[2020-05-13 16:15] pappasam commented on #1
Interesting, it seems like :CocInstall doesn't seem to run npm postinstall hooks. This is either a bug or a feature, I'm not sure which at this moment.

@no120030 as a temporary workaround, please put the following in your `coc-settings.json`:

[code]

As long as `jedi-language-server` is in your path, things should work as before.

[2020-05-13 16:17] pappasam commented on #1
Alternatively, if you manage `coc-jedi` with you Vim package manager according to [these instructions](https://github.com/pappasam/coc-jedi#vim-package-manager), things should work out of the box right now!

[2020-05-13 16:28] no120030 commented on #1
@pappasam Thank you so much!
The first method works like a charm.
I also tried installing coc-jedi with vim-plug, but it gave me another error saying:
[code]

For now, I will stick to the first solution.
Again, Thank you for your help.

[2020-05-13 16:31] pappasam commented on #1
@no120030 that error often occurs during the installation process (before yarn install has a chance to finish) and will happen for most coc extensions installed with the vim plugin manager method. Just ignore it until vim-plug finishes running and things should work normally.

I've opened an issue with coc.nvim, we'll see what the author has to say!

[2020-05-13 22:28] pappasam commented on #1
@no120030 ok, this issue should be resolved for real in the latest release `0.8.0`. Please test it out and let me know if a `:CocInstall`'d coc-jedi is working correctly for you too!

[2020-05-14 07:20] no120030 commented on #1
@pappasam It works without specifying jedi.executable.command!!!
Thank you so much! everything is working so fine as before. I appreciate your help.

[2020-05-14 12:56] #1 closed

[2020-05-15 10:08] kashewnuts opened #3 "Cannot install coc-jedi"
## Expected

Installed like https://github.com/pappasam/coc-jedi/releases/tag/v0.7.4

## Environment Information

 * Plugin version: https://github.com/pappasam/coc-jedi/releases/tag/v0.8.0
 * OS: macOS Catalina/Ubuntu 20.04LTS
 * Vim version: 8.2

## Provide a minimal vimrc with less than 50 lines

[code]

## How to reproduce problems from vim startup

 1. vim -Nu minimal.vimrc
 2. `CocInstall co

[2020-05-15 14:28] pappasam commented on #3
I'll replace the `fs` call with `rimraf`. I'm guessing you're using an older node version than 12.10.0

[2020-05-15 14:46] pappasam commented on #3
@kashewnuts please try the latest version and let me know if it works for you!

[2020-05-15 14:50] kashewnuts commented on #3
That makes sense. Certainly I use "nodejs 10.x". [It is tested on "coc.nvim"](https://github.com/neoclide/coc.nvim/blob/master/.github/workflows/ci.yml#L19) and [installed on Ubuntu by apt](https://packages.ubuntu.com/focal/nodejs).

Is it possible to unify the version supported by "coc.nvim"? If that is difficult,could you please specify the supported version of "nodejs" in package.json or README

[2020-05-15 14:54] pappasam commented on #3
My understanding of coc is evolving with my development of this extension! Checking out its `package.json`, I should support `node>=8.10.0`. So I'll try do that from now on.

As stated above, please let me know if the latest version works for you.

[2020-05-15 14:57] kashewnuts commented on #3
I'll give it a try.

[2020-05-15 15:05] kashewnuts commented on #3
@pappasam It worked nodejs 12.16.3!

[2020-05-15 15:06] pappasam commented on #3
It should hopefully also work on older versions of node as well. But I'm glad to hear it's working on node 12.16 too!

[2020-05-15 15:09] pappasam commented on #3
I just tested with node 8.10.0 and it works fine there. Thanks for the issue, things appear to be working now!

[2020-05-15 15:09] #3 closed

[2020-05-15 15:32] kashewnuts commented on #3
I have confirmed that it also works with "nodejs 10.x". Thank you very much!

[2020-05-28 14:12] pappasam opened #4 "Default POSIX installation may not work perfectly for Conda"
See https://github.com/pappasam/jedi-language-server/issues/27

[2020-05-29 14:19] HansPinckaers opened #5 "Add options to preload modules"
Hi there,

Is it possible to add an option to preload certain modules, so that autocompletion feels faster? For example, useful for big libraries such as numpy.

See jedi docs: https://jedi.readthedocs.io/en/latest/docs/api.html#jedi.preload_module

Thanks!
Hans

[2020-05-29 17:15] pappasam commented on #5
In the latest release, I've handled this by exposing `auto_import_modules` to the end user. See here: https://github.com/pappasam/coc-jedi#jedijedisettingsautoimportmodules

Please let me know if this solution performs acceptably for you.

[2020-05-29 17:58] HansPinckaers commented on #5
Hi! Awesome!

Sadly however it doesn't seem to work? At least the first time completions of libraries I add is not sped up.

I wanted to debug myself, but could not find a reference to jedi's preload_module, only to auto_import_modules. Reading the documentation I'm not sure auto_import_modules is the same as preload_module.

[2020-05-29 18:17] HansPinckaers opened #6 "Expose jedi's extract_function and extract_variable"
It would be really nice if this coc-plugin supported the more advanced refactoring tools in jedi:
https://jedi.readthedocs.io/en/latest/docs/api.html#jedi.Script.extract_function

I didn't even find a 'reference' implementation in jedi-vim, so I'm not sure how doable this is.

Thanks for your awesome work,

Hans

[2020-05-29 19:45] pappasam commented on #5
@HansPinckaers please install the latest version of `jedi-language-server`. I suspect that you only updated `coc-jedi`.

In the future, until we're able to figure out how to set up a nice environment automatically for conda users, you'll need to manually update `jedi-language-server`.

[2020-05-29 19:47] pappasam commented on #5
Additionally, you are correct that `preload_module` is different than the `auto_import_modules`. Based on my testing, `preload_module` didn't yield substantial speed improvements while `auto_import_modules` sped things up considerably.

It's still not perfect, but it made numpy completions bearable (at least on my machine).

[2020-05-29 19:54] pappasam commented on #4
@HansPinckaers this is the shell command we currently run to set up a virtualenv-friendly jedi-language-server: https://github.com/pappasam/coc-jedi/blob/master/src/jlsExecutable.ts#L46

[2020-05-29 22:06] pappasam commented on #4
This may related to this issue: https://github.com/davidhalter/jedi/issues/1540

Eg, could be fixed with the next Jedi release.

[2020-05-30 12:18] HansPinckaers commented on #5
After a first test, I did indeed remember to also update the `jedi-language-server` :slightly_smiling_face:

For me, numpy autocomplete is pretty fast (also with coc-python), I do not really see any benefit when using `auto_import_modules`. However, the first time is slow, that is why I wanted to try `preload_module`.

I tried to hack it in like this, but it does not seem to do improve the first a

[2020-05-30 12:50] HansPinckaers commented on #4
I will test it as soon as that commit is in a release!

[2020-05-30 19:07] pappasam commented on #5
Perfect! In that case, I think we can consider this particular issue resolved.

[2020-05-30 19:07] #5 closed

[2020-05-30 19:11] pappasam commented on #6
These would probably be handled as [code actions](https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction). This would need to be implemented first in jedi-language-server, which would need to be responsible for most of the heavy lifting (per the lsp docs above).

[2020-05-31 15:51] HansPinckaers commented on #6
I found another jedi language server that implements a code action, maybe we can use this as inspiration?

https://github.com/muffinmad/anakin-language-server/blob/4f3e01c0985111eca2dcf4df882661b80efac093/anakinls/server.py#L795

[2020-06-01 18:15] pappasam commented on #6
Happy to review pull requests at jedi-language-server in the meantime, and if you're not able to address, I'll implement this when I find time!

[2020-06-03 06:11] HansPinckaers commented on #6
I would really like to do it, but I'm a bit short on time in the coming weeks. Maybe I will find an evening somewhere :slightly_smiling_face:

[2020-06-07 16:09] pappasam commented on #6
Resolved in the latest version!

Be sure to use something like the mapping below to get CodeActions to work:

[code]

Additionally, I believe I've discovered a bug in Jedi's extract variable. Pending discussion here: https://github.com/davidhalter/jedi/issues/1611

[2020-06-07 16:09] #6 closed

[2020-06-08 07:45] HansPinckaers commented on #6
Awesome! Sorry I did not have time for a PR.

However, after update the jedi-language-server and coc-jedi, I'm not seeing the code-actions with coc.nvim? I doublechecked my jls version. Any other ideas that I could try?

[2020-06-08 14:15] pappasam commented on #6
Use the keybinding above while your cursor is on `bar`:

[code]

You should, at least, be presented with the inline code action, which will turn the code into:

[code]

You won't see a code action in the menu unless one exists at your cursor location. For all other code actions supported by Jedi, please refer to [jedi's docs](https://jedi.readthedocs.io/en/latest/docs/api.html#jedi.Script.extract_

[2020-06-09 08:08] HansPinckaers commented on #6
Hi there, I got it working with your suggestions. However, I think it would be more useful to also provide until_line to Jedi so that we can extract multiline functions. I tried to make a pull request but sadly failed (problems with the pre-commit hook and now it doesn't see the right commit history?).

I don't have time today anymore (maybe a few minutes tonight), but it's a simple change, maybe

[2020-07-05 03:31] jkroes opened #7 "Explanation of Benefits over Coc-Python"
For those of us who have used Jedi in combination with LSP but don't have much technical knowledge about the two, could you maybe explain some of the differences from the other COC extension promoted by coc.nvim?

[2020-07-13 14:30] kevinhwang91 opened #8 "The result of omitted jedi.executable.command is unexpected for README"
If `jedi.executable.command` is omitted, `coc-jedi` always download `jedi-language-server` in venv in *unix system.

Here is the source code about this issue.

https://github.com/pappasam/coc-jedi/blob/6e178d83ed1ea2f756ae293d4aa67f1324749811/src/jlsExecutable.ts#L58-L70

I have no ability to create a PR because I have no idea about TS and I haven't developed any plugins about coc.

[2020-07-13 15:08] kevinhwang91 opened #9 "Can't jump definition in via CocAction('jumpDefinition') when jedi-language-server in venv"
When the definition in the system site package, CocAction('jumpDefinition') can't jump to the source code.

Install `jedi-language-server` in system path and specify `jedi.executable.command` to it, CocAction('jumpDefinition') works as expected.

[2020-07-13 16:54] pappasam commented on #7
I haven't used `coc-python` in a long while, so I'm not up to speed on the benefits (if any) that `coc-jedi` currently has over `coc-python`. From a technical perspective:

- `coc-jedi` is a wrapper around `jedi-language-server` while `coc-python` is a fork of Microsoft's vscode Python extension
- `jedi-language-server` wraps jedi in a language server, while `coc-python` forks a language server th

[2020-07-26 15:33] Mcpower03 opened #10 "Add a wiki or at least some keymaps to the Readme?"
So I would like to use this in place of jedi-vim and coc-python, this plugin already does autocomplete just fine, but goto definition is kinda fuzzy. Within jedi-vim the keybind is leader-g, but I cant find docs on how to do it here. So maybe some documentation would be nice

[2020-07-27 16:43] pappasam commented on #10
I'd love to help with this, but `coc-jedi` is a `coc.nvim` extension; it is not responsible for creating or managing your `coc.nvim` keymappings.

`coc.nvim` is an LSP client that provides all mappings that you may want to use. For an example on mapping keys, please refer to `coc.nvim`'s documentation here: https://github.com/neoclide/coc.nvim#example-vim-configuration

[2020-07-27 16:43] #10 closed

[2020-07-27 16:47] pappasam commented on #9
Would you please provide your environment? Are you a Conda user? I cannot reproduce in the following environment:

- Python 3.8.3
- Normal virtualenv
- NVIM v0.5.0-614-g33eaa171f
- Terminal: Zsh / alacritty

[2020-07-27 17:03] pappasam commented on #4
@HansPinckaers would you be able to test if the latest release fixes this issue for you?

[2020-07-28 02:22] kevinhwang91 commented on #9
Your env is similar to mine, except the nvim suffix of git commit version.

The third package (https://github.com/andreafrancia/trash-cli) is located in the system path, but the `jedi-language-server` was in venv.

You can reproduce follow these steps:
1. clean up any config about `jedi-language-server` in `"~/.config/nvim/coc-settings.json"`;
2. open python file, nvim will download `jedi-language

[2020-07-28 07:24] HansPinckaers commented on #4
I updated jedi, reinstalled coc-jedi, coc-jedi installed the jedi-language-server successfully. But sadly, no completions for numpy or other packages installed by conda.

[2020-07-29 17:48] pappasam commented on #4
Oh well... at least we're on the latest version though!

@HansPinckaers question: how does Conda manage virtual environments? If it's different than cpython, maybe we'll need to create a conda-compatible virtualenv creator function...

[2020-08-03 08:40] HansPinckaers commented on #4
Hi @pappasam, Sorry, I don't know exactly how Conda manages the environments. I'm pretty sure it just changes PYTHONPATH when switching environments, although I'm not sure if that's what you mean.

[2020-08-06 01:25] jkroes commented on #7
Thank you! I recently switched back to Emacs/Evil recently, but I've been comparing the LSP packages/plugins for both editors to find the areas where they can learn from each other. I'll have to spend more time with coc-jedi when I can find the time.

[2020-08-06 01:26] #7 closed

[2020-08-27 02:23] kevinpita opened #11 "I'm not getting autocomplete from pip modules"
I'm trying to make a flask app and I'm not getting any complete for app object

[code]

I don't get anything from it, how could I do to get coc-jedi to support external modules?
it works flawless with python own packages

[2020-08-27 04:03] pappasam commented on #11
@kpg02 Can you please provide more information? Vim or Neovim, are you developing in a virtualenv or not in a virtualenv, what is your python version, are you using conda  or pypi, etc. The solution (or lack thereof) I have for you will depend on which combination of the above you are using.

[2020-08-27 08:12] kpg02 commented on #11
I'm using nvim 0.5 installed with homebrew

I'm not using a virtualenv

python 3.8.3

pypi

Thanks for the fast response

[2020-08-27 17:08] pappasam commented on #11
You've found a bug! That said, there's a work-around for you to get the functionality you want.

If you don't want to use a virtualenv but you do want to access code installed in your system's site-packages, do the following:

1. Install `jedi-language-server` system-wide: `pip install jedi-language-server`
2. In your `coc-settings.json`, add the following line: `  "jedi.executable.command": "jedi

[2020-08-29 22:02] windowsrefund opened #12 "Fresh install can't use jedi"
I've got the coc-jedi exension installed along with python-language-server but see this when I open a .py file.

`[coc.nvim]: UnhandledRejection: Launching server "jedi" using command jedi-language-server failed.`

I'd like to better understand what this error means since I suspect it has to do with the jedi pip package and yet, I saw no mention of that as a requirements when installing the pieces

[2020-08-30 02:45] pappasam commented on #12
Given your configuration, you'll need to also install [jedi-language-server](https://github.com/pappasam/jedi-language-server). jedi-language-server wraps jedi in a language server.

Alternatively, you can remove the line ` "jedi.executable.command": "jedi-language-server",` and coc-jedi will manage the installation for you.

[2020-08-30 03:46] windowsrefund commented on #12
As mentioned in the original comment, I already have jedi-language-server installed and in my $PATH

[2020-08-30 04:11] windowsrefund commented on #12
Overcame this with the following steps. Still unclear why related documentation seems to skip right past this stuff.

1. Install python3-venv package using OS package manager
2. Remove previously installed python-language-server package
3. Remove "jedi.executable.command" config from coc-settings.json
4. Restart neovim to allow it to install python-language-server

[2020-08-30 04:11] #12 closed

[2020-09-01 09:37] GianniGi commented on #1
still the same problem

[2020-10-13 02:34] astier opened #13 "No completion for numpy"
### Minimal vimrc

[code]

### Steps to reproduce

1. `nvim bug.py`
2. Enter instertmode
3. Type `import nu`

`numpy` is not shown in the completion-menu.

### Expected behavior

`numpy` should show up in the completion-list if `import nu` is typed.

[2020-10-13 18:36] pappasam commented on #13
Questions to help us debug:

- Which Python version / distribution are you using? 3.8, conda, etc?
- Do you have numpy installed in that distribution?

[2020-10-13 18:38] pappasam commented on #13
Also, see this issue: https://github.com/pappasam/jedi-language-server/issues/27 Maybe you can find a work-around there.

[2020-10-13 23:12] astier commented on #13
I reinstalled everything from again and it works now. Thank you.

[2020-10-13 23:12] #13 closed

[2020-10-15 01:18] astier commented on #13
I was wrong. I still had the issue. I just forgot to uninstall coc-python which completed numpy. After uninstalling coc-python the bug appeared again. Installing jedi-language-server manually with pip and setting

[code]

solved the issue for me.

I am using arch-linux and installed numpy from the arch repos. It seems like coc-jedi is not able to find it.

[2020-10-15 01:19] astier commented on #13
https://github.com/pappasam/coc-jedi/issues/4 seems to be related.

[2020-10-15 05:09] pappasam commented on #13
Yep, jedi tries to be smart about figuring out your environment, but given the diversity of Python environments, somethings you just have to manage the jedi / jedi-language-server installation yourself (and put it in the same environment as your dependencies). Glad we figured out a solution for you and hopefully Jedi keeps getting smarter over time!

[2020-10-15 10:50] astier commented on #13
So its an issue of jedi and not coc-jedi?

[2020-10-15 14:08] pappasam commented on #13
That's what I suspect, but I'm not certain either way at present.

[2020-10-15 15:14] astier commented on #13
Should we reopen this issue or do you want to leave it at that?

[2020-10-15 16:56] pappasam commented on #13
Let's leave this closed. Other open issues address the underlying problem and I've updated the readme to document the current workaround: https://github.com/pappasam/coc-jedi#no-completion--goto-definition-while-using-conda-homebrew-asdf-etc

[2020-10-31 09:46] Joxos opened #14 "Cannot startup jedi server"
![image](https://user-images.githubusercontent.com/37507136/97776098-811fe300-1ba0-11eb-849a-b5bbde5d8361.png)
When I open a python source file, the jedi failed.
I tried to do this:
[code]
But it still cannot working.
These are my :CocInfo messages
[code]

[2020-10-31 18:51] pappasam commented on #14
Question: is `jedi-language-server` in your path? Eg, when you type `jedi-language-server` in your terminal, does it appear to run?

I ask because, on Windows, the error code `ENOENT` means something like "no such file or directory". See [here](https://stackoverflow.com/questions/19902828/why-does-enoent-mean-no-such-file-or-directory#19902850). This implies that, despite having pip installed `jed

[2020-10-31 18:52] pappasam commented on #14
Note: you might need double `\\` to escape the backslash in JSON

[2020-11-01 03:16] Joxos commented on #14
![image](https://user-images.githubusercontent.com/37507136/97794182-96911d80-1c31-11eb-91d0-1b4fd95f2ea7.png)
I've already tried that, but it's still not working.

[2020-11-01 03:19] Joxos commented on #14
I've tried the "jedi.executable.command" and it worked!
Thanks a lot!

[2020-11-01 03:19] #14 closed

[2020-11-01 18:54] pappasam commented on #14
Amazing, what did you try end up putting as your the executable path? I'd like coc-jedi to better-support windows out of the box, so if there's anything you can teach me about your setup I'd be grateful!

[2020-12-05 23:18] robotlightsyou commented on #1
@GianniGi Were you ever to get this working? I'm getting the same error and not finding anything as a workaround, and my settings-coc.json already has the line about  "jedi.executable.command": "jedi-language-server".

[2020-12-06 04:31] pappasam commented on #1
@robotlightsyou This particular issue has been resolved for a while. Given the diversity of Python environments / setups (OS, conda/pypi, etc), I can't provide much help to you without more information about your particular setup. Other people have had trouble with their initial setup over the past couple of months and resolutions have been found in the following issues:

- <https://github.com/pap

[2020-12-28 09:17] WhyNotHugo opened #16 "Warning that language server is running"
## Result from CocInfo

[code]

## Describe the bug

When using `coc-jedi`, `coc` shows a warning that the language server is running. This warning seems odd -- there's nothing wrong with that, and seems like an "everything is alright" warning.

This pops up every time I open a python file:

[code]

## Reproduce the bug

I used this config for reproducing the bug:

[code]

## Screenshots (optional

[2020-12-28 12:52] gennaro-tedesco opened #17 "definition not found when opening from file manager"
I am using `coc-jedi` via `:CocInstall coc-jedi` and I have noticed the following behaviour: when opening a file in a python project

- via a file manager (any of the [vifm](https://vifm.info/), [ranger](https://github.com/ranger/ranger) and similar)
- via [vim-startify](https://github.com/mhinz/vim-startify)

the `gd <Plug>(coc-definition)` returns `[coc.nvim] Definition not found`; a similar cas

[2020-12-28 20:36] TiagoDillenburg commented on #1
@robotlightsyou I believe you need to remove `"jedi.executable.command": "jedi-language-server"` from settings-coc.json

[2020-12-29 04:46] pappasam commented on #16
In your coc-settings.json:

[code]

This will disable the startup message.

[2020-12-29 11:06] WhyNotHugo commented on #16
Hmm... I see. Maybe the default could be changed though?

E.g.: Showing a warning when that everything is okay seems like an oxymoron. This also pops up every time a file is opened -- I can't see why this would be desirable, unless debugging `coc-jedi` itself.

[2020-12-30 19:41] robotlightsyou commented on #1
@pappasam @TiagoDillenburg The issue was that I had never pip installed jedi-language-server. Once I ran that and confirmed settings-coc.json everything ran fine. Thanks for the assistance.

[2021-01-13 07:03] pappasam commented on #16
Resolved in 188a0f40acfd204e4eadac562d4d7f9a29dd18f6

[2021-01-13 07:03] #16 closed

[2021-01-13 07:03] pappasam commented on #16
Sorry for lateness, I just returned from some time off

[2021-01-13 07:04] pappasam commented on #8
Updated the docs to reflect what's actually happening, resolved in 188a0f40acfd204e4eadac562d4d7f9a29dd18f6

[2021-01-13 07:04] #8 closed

[2021-01-13 07:05] pappasam commented on #17
Hmm, I'm not entirely sure! Have you found any clues in the past 16 days?

[2021-01-13 09:06] gennaro-tedesco commented on #17
I suspect it may be due to the fact that when opening a file via the command line full path (say `vim /path/to/file`) the entire `path` is passed/appended, therefore jedi discovers the location of the project dependencies (in this case `/path/`), which may not be the case when using Startify or a file manager (I do not know how they pass the file locations to the editors).

This is however only an

[2021-01-16 11:51] WhyNotHugo commented on #16
Thanks!

[2021-01-20 20:22] noib3 opened #20 "Add parenthesis to completions of methods and functions"
Basically title. It'd be nice to complete `object.` with `object.method()` instead of `object.method`. Sometimes the parenthesis won't be needed, but pressing backspace once in a while is better than manually inputing parenthesis almost every time.

[2021-01-20 22:05] pappasam commented on #20
Thanks for the issue. Note: this is already implemented using snippets. If you have the following mapping in your vimrc:

[code]

And you've installed [coc-snippets](https://github.com/neoclide/coc-snippets), pressing `<C-l>` while you've selected a callable should expand both the parentheses and the non-keyword arguments. See:

![snippet_example](https://user-images.githubusercontent.com/3723671/

[2021-01-20 22:17] pappasam commented on #20
Actually, I might have an idea for how to implement this without creating problems elsewhere. I'll keep this issue open until I've figured that out 1 way or another. The solution will involve both <https://jedi.readthedocs.io/en/latest/docs/settings.html#jedi.settings.add_bracket_after_function> and making sure that doesn't create weird behavior on imports and snippet expansion.

[2021-01-24 15:30] prmammoth commented on #11
And what if one does use a virtualenv?

[2021-01-24 15:37] prmammoth opened #21 "Get import-error even when autocompletion works"
I have a few python module imports on top of my module. I am on python 3.8, and use a virtualenv. jedi-language-server is installed in virtualenv and the virtualenv is active on shell. coc-jedi is installed through CocInstall coc-jedi.
Modules have been installed through

`pip install -r Requirements.txt`
Some packages are used as
-e packageName
in Requirements.txt
regular python packages work fin

[2021-01-25 01:53] pappasam commented on #21
Thanks for your issue! Would you be able to provide an example codebase with the characteristics you describe? A link to a GitHub repo will suffice. This will help me debug your issue!

[2021-01-25 01:54] pappasam commented on #11
@prmammoth If you do use a virtualenv, you should get autocompletion from pip-installed modules out of the box. Please let me know if that's not the case.

[2021-02-03 22:43] mike-lloyd03 opened #22 "Installing coc-jedi on isolated computer"
This may sound like a weird request, but I'm trying to move my whole vim configuration over to another computer that has no internet access. My approach is to move `.vimrc`, `.vim`, and `.config/coc` to the $HOME directory for my user on the other computer.

When I try to start vim, it tries to install `jedi-language-server` in `~/.config/coc/extensions/node_modules/coc-jedi/.venv` and fails becau

[2021-02-03 23:17] mike-lloyd03 commented on #22
The isolated computer uses Python 3.7 and the files I'm transferring from use Python 3.8 so I'm guessing that's also why the venv is dead.

I created a new `.venv` directory with Python 3.7 on the isolated computer and manually installed the following packages into the `.venv/lib/python3.7/site-packages` by copying them from the Python 3.8 venv (they all appear to be backwards compatible with Pyth

[2021-02-03 23:34] mike-lloyd03 commented on #22
Whelp. I installed `cached_property` 1.5.1 and now everything is fine. Thank you for reading the documentation of my adventure.

I'm not really sure why `cached_property` wasn't installed in the original 3.8 .venv directory but whatevs.

[2021-02-03 23:34] mike-lloyd03 commented on #22
Whelp. I installed `cached_property` 1.5.1 and now everything is fine. Thank you for reading the documentation of my adventure.

I'm not really sure why `cached_property` wasn't installed in the original 3.8 .venv directory but whatevs.

[2021-02-03 23:34] #22 closed

[2021-02-07 11:14] BonaBeavis opened #23 "No outline in pylatexenc dependency"
I am on the newest nvim-nightly, coc, coc-jedi.

`CocList outline` does not work for sources from imports, it returns an empty list.

[2021-02-08 09:11] Terseus opened #24 ""SyntaxError: no binding for nonlocal 'X' found" when X is a parameter"
# Observed behavior

When Jedi finds a function parameter declared as `nonlocal` inside an inner function, the "nonlocal" it's marked wrongly as a syntax error.

This code snippet reproduce the issue:

[code]

The output with Python 3.7 or greater shows that both `nonlocal` directive uses are legal and works as expected:
[code]

# Expected behavior

Jedi should handle correctly the legal "nonlocal

[2021-02-11 03:37] juanMarinero opened #25 "Debian/Ubuntu requirement: python3-venv"
TLDR:
- [vim-plug](https://github.com/junegunn/vim-plug) might show as successful a wrong installation [#1806](https://github.com/neoclide/coc.nvim/issues/1806)
- Debian/Ubuntu OS require `python3-venv`. This is NOT enough: `$ apt-get install python-virtualenv` (neither Anaconda, I guess)

My experience. I hope it helps someone. I am newbie, so my advises might be all wrong, if so just delete issu

[2021-02-11 03:37] #25 closed

[2021-02-12 03:32] pappasam commented on #23
Thanks for raising this issue! Would you be able to provide an example? I'm not able to replicate.

[2021-02-12 06:58] pappasam commented on #24
Interesting... I've just tried with the latest version of jedi-language-server and I can't reproduce (I'm on Python 3.8).

Which Python version are you using with your editor? Maybe Jedi is installed / observing a virtual environment or system installation of Python that precedes 3.7 while your editing?

[2021-02-12 13:03] BonaBeavis commented on #23
It only happen with the classes from package `pylatexenc`, and other packages work. So I guess I am wrong here and the package is at fault.

[2021-02-13 09:01] Terseus commented on #24
In my work maybe but I've reproduced the bug in my computer, which only have Python 3.9, so no it's not because it's seeing a Python version without `nonlocal` support, or partial support, or anything like that.
I even checked out the coc-jedi venv Python version, it's 3.9.1:
[code]

However I cloned the jedi repo and wrote the following static analysis test and the bug doesn't reproduce, so doesn

[2021-02-13 09:37] Terseus commented on #24
@pappasam  I've added the `pip freeze` output from the coc-jedi virtualenv, just in case.

[2021-02-15 03:55] pappasam commented on #24
@Terseus thanks for the detail, hopefully we can get to the bottom of this soon!

I've done my best to replicate the important parts of your environment:

Python: 3.9.1
Jedi: 0.18.1

Once set up, I've written and run a small script that (on my end) appears to prove that this is a `jedi` issue (not to say it's not important to me, just that there's little I can do to fix it within `jedi-language-se

[2021-02-20 19:08] Terseus commented on #24
@pappasam Yep you're right, definitely it's a Jedi bug.

Sorry, I clearly made a mistake thinking a static analysis test ([like these](https://github.com/davidhalter/jedi/tree/master/test/static_analysis)) should have exposed the error and didn't know enough of the Jedi API to write a simpler test like yours.

I've opened an issue in Jedi with this problem: https://github.com/davidhalter/jedi/issu

[2021-02-20 19:08] #24 closed

[2021-02-21 14:40] dycw opened #26 "Moving from PyCharm; stuck"
Hi, I am considering moving from PyCharm, and thought this would be a great place to start.

I am running a setup of the following form:

- Ubuntu 20.04:
- Homebrew/Linuxbrew installed node

I have `conda`:

[code]

where I've put `pynvim` in the `neovim` environment.

In PyCharm, if I have an environment called `work` with `pytest` (for example) installed, then setting the project interpreter to

[2021-02-22 07:36] pappasam commented on #26
Ah, I believe you're running into a [jedi](https://github.com/davidhalter/jedi) limitation. Jedi does not support autoimport, nor will it in the future. <https://github.com/davidhalter/jedi-vim/issues/736> . Since you are trying to automatically insert an import statement, it appears this is not currently possible and never will be possible with Jedi (I assume for a combination of performance and

[2021-02-22 07:40] pappasam commented on #26
Also, just found this tool, maybe you can experiment with it and let me know how it goes for you!  <https://pypi.org/project/autoimport/>

[2021-02-23 07:57] dycw commented on #26
Hi @pappasam, thanks for dropping by.

I understand the issue of this being a [jedi](https://github.com/davidhalter/jedi) limitation now, thank you. However, allow me to expand on my query. If I am to write imports by hand, am I right in expecting my interpreter to understand what's been installed into my environment? Viz.:

[code]

should use me members of `__all__`, like `arange`, `ones`, etc?

[2021-02-25 08:19] pappasam commented on #26
I believe you'll need to install `pynvim` everywhere (that's a Neovim requirement), but `coc-jedi` manages the installation of `jedi-language-server` in one place if you configure it appropriately. Everything's documented in the readme, but the relevant section is [here](https://github.com/pappasam/coc-jedi#jediexecutablecommand).

And yes, Neovim + coc-jedi can discover what's been installed in y

[2021-02-25 11:47] dycw commented on #26
Thanks for stopping by again - I will have a good look! (Not sure why I didn't think of going through your dotfiles!)

Allow me to close this for now. Cheers!

[2021-02-25 11:47] #26 closed

[2021-03-12 08:28] denstiny opened #29 "Can completion but there is an error"
![image](https://user-images.githubusercontent.com/57088952/110912487-f79ecf80-834e-11eb-8d5a-c235b1a6538b.png)

## coc-setting.json
[code]
## error

![image](https://user-images.githubusercontent.com/57088952/110913181-c672cf00-834f-11eb-9804-7a98fd6e5460.png)

[2021-03-12 08:53] denstiny commented on #29
Oh, I deleted the jedi all files, reinstall after problem solved

[2021-03-12 08:55] denstiny commented on #29
But the speed was slow

[2021-03-19 16:06] #29 closed

[2021-03-28 15:33] pappasam commented on #20
Ok second thought, since this is handled by snippets, and because I can't think of a good way to include this without creating weird edge cases, I'll close this issue.

[2021-03-28 15:33] #20 closed

[2021-03-28 15:43] pappasam commented on #17
Revisiting this, it's possible that when you open a file with the file explorer, your workspace path is higher up your file system than the module that you've opened. This, in turn, might make it hard for Jedi to figure out where to look for files.

Would you be able to provide a minimal example so I can reproduce on my end? I suspect this has to do with your working directory, but as you alluded

[2021-03-28 20:10] gennaro-tedesco commented on #17
Take the following example:
[code]
[code]
[code]
If you open those files via, say `vim src/main.py` then go-to-definition _does_ work, namely `gd` on `test` does bring you to `utils.py`. However, if instead one opens those files via a file manager from any location (both from the location of the files themselves and their parent folders) the error occurs.

[2021-03-28 23:12] pappasam commented on #17
Thanks for providing the example! I've never played with ranger before, it's a really nice tool.

Strangely, in my setup, everything works perfectly out of the box. I made sure to keep my example as close to yours as possible.

- OS: Linux Mint 20.1
- Terminal: zsh running in tmux within Alacritty
- Editor: nvim `v0.5.0-dev+1182-gb79596eb5`
- coc-jedi version: `0.25.1`
- jedi-language-server versi

[2021-03-29 01:30] gennaro-tedesco commented on #17
I have narrowed down the problem, seemingly, to the case where imports are obtained by pre-fixing folder paths: for instance whenever the import is of the form
[code]
rather than simply
[code]
which is often the case for package projects. If, in your example, you pre-pend `from src.utils import test` you will see the error appearing.

[2021-03-29 02:42] pappasam commented on #17
I believe this is a behavior rooted in `coc.nvim` and has to do with your root path. When you use a file explorer like ranger, your root path will be the same directory as the file you're opening. When you open a file directly with Vim, your root path is your current working directory. See this GIF:

![cwd](https://user-images.githubusercontent.com/3723671/112779950-a8b69280-8ffc-11eb-9d9d-0f06723

[2021-03-29 02:44] pappasam commented on #17
Try `cd`ing into `src`, opening `main.py` directly with vim, and then going to definition. You'll notice the exact same behavior you get with the file explorer.

[2021-03-29 11:23] gennaro-tedesco commented on #17
Yes, what you are saying is correct. However, this does seem to be python related only, because for some other languages `coc.nvim` references work fine even via file manager (for example I checked in lua and go).

This said, not that this is a big problem, thank you for looking into it anyway!

[2021-03-29 14:12] #17 closed

[2021-03-30 07:39] Fenkiou opened #32 "Install importlib_metadata in the virtualenv"
Hello,

I'm currently experiencing a small issue (not a blocking one at all).

I started to use coc, with coc-jedi using a python version >=3.8 and that worked perfectly.

But recently, I launched vim inside a project which uses python 3.6.6. And update coc plugins.

Seems like coc-jedi needed an update (and jedi-language-server too was outdated). So coc-jedi ran the update but it ran it using the

[2021-03-30 16:53] pappasam commented on #32
Thanks for this issue! I'll add a conditional dependency for `importlib_metadata` to jedi-language-server and release later today

[2021-03-30 23:19] pappasam commented on #32
Should be resolved in version `0.25.2`!

[2021-03-30 23:19] #32 closed

[2021-03-31 07:13] Fenkiou commented on #32
Works perfectly, thanks for the quick fix!

[2021-04-16 01:55] matheusfillipe opened #33 "High cpu usage for pylint"
pyling is getting called too often which is causing a way too high cpu usage on my machine.
Would it be possible to call it only once back to normal mode? I am using the same coc-config.json that are here: https://github.com/pappasam/coc-jedi#additional-diagnostics

OS: Arch Linux x86_64, DE: KDE Plasma 5.20.2, CPU: Intel i7-7700HQ (8) @ 3.800GHz, GPU: NVIDIA GeForce GTX 1050 Ti Mobile, GPU: Intel

[2021-04-17 19:03] stevanmilic opened #34 "Hover not working for variables"
When using coc-python `doHover` action on the variable showed its type if it could be inferred by jedi. This doesn't work in coc-jedi. I'm wondering is it a limitation of the `jedi-language-server` or a bug in this extensions?

# Steps to reproduce
[code]
Hovering over the `a` or `b` variable in the expression should show the type of the variable (easily inferred from the function signature).

[2021-04-27 14:23] JDuchniewicz opened #35 "Getting errors on opening - completion works fine"
Hello, I switched from `coc-python` to `coc-jedi` and I keep receiving these errors on startup:

[code]

The completion works fine apart from that.

[2021-04-27 20:42] KarlWithK opened #36 "Random python children are spawned and not killed."
Hello, so recently I was trying out coc-jedi and it works after following the instructions. However, I found that after closing vim I would be left with two python processes running in the background using a considerable amount of CPU usage.
![image](https://user-images.githubusercontent.com/31679231/116308097-19c0a580-a775-11eb-8524-9a7bb42c376c.png)

I tested this, and I believe this plugin is t

[2021-04-27 22:35] KarlWithK commented on #36
Okay, so I looked through my config and I realized that did two things that might have been my fault.
1) I installed both this plugin though coci and the plug way. Perhaps that created conflict.
2) After I removed this line the processes did not appear: `  " autocmd VimLeavePre * :call coc#rpc#kill()` But i'm a bit confused why.

Now, the reason I had this was because sometimes I accidentally kill

[2021-05-03 21:19] matheusfillipe commented on #33
Well I switched to flake8 and it works much better now. In case someone wants to know the relevant config on coc-settings.json:

[code]

[2021-05-03 21:38] pappasam commented on #33
Awesome, either I, or you (through PR) can add this to the readme. I'll do it by end of week, but if you submit a PR I'll merge right away. Once it's in there, I think we can consider this closed!

[2021-05-04 05:35] #33 closed

[2021-06-19 12:52] TheCharmingSociopath commented on #14
Hi, really appreciate your work. Just want to add: please list `python3-venv` as a dependency on this extension. I've recently been moving to vim, and getting this to work took me an hour because I didn't realise I had to install this.

Thanks for the great work!

[2021-07-11 13:23] ctnguyenvn commented on #35
the same error with neovim-0.4.4/python3.6
[code]

[2021-07-22 11:08] smheidrich opened #41 "Hover info for functools.wraps()-decorated function shows undecorated parameter list"
I'm not sure if this is an issue in coc-jedi or Jedi itself, but I guess I'll ask here first and then we can propagate it "up" to Jedi if it's in their court.

When you have a function that is marked as wrapping another function with `functools.wraps`, the hovering info window for a call to the former shows the "correct" (in my opinion, anyway) docstring and function name, namely that of the wrapp

[2021-07-22 11:20] smheidrich commented on #41
Sorry, I just noitced this would be better as an issue for jedi-language-server. I'll reopen this there.

[2021-07-22 11:20] #41 closed

[2021-07-24 08:57] Houkime commented on #11
The workaround works, but it really feels like this should be fixed.
Jedi itself is capable of determining whether it is used for a virtualenv or not, so the jedi-coc should be at least as versatile.

[2021-07-24 18:08] pappasam commented on #11
@Houkime yes, i agree; that's why I've kept this issue open. Happy to review any pr's and / or consider productive suggestions! This particular issue may be an edge case within Jedi itself. Or, possibly, there's something simple we can do here. Either way, the issue is still open because it's unsolved and important.

[2021-07-28 03:52] androidfans opened #42 "Conflict with easymotion https://github.com/easymotion/vim-easymotion"
![image](https://user-images.githubusercontent.com/6452650/127260799-56fa20df-a1ac-4d09-af78-fb9a71c72292.png)

[2021-07-30 15:57] pappasam commented on #42
Is this [coc-jedi](https://github.com/pappasam/coc-jedi)-specific? Or is this a general [coc](https://github.com/neoclide/coc.nvim) conflict?

[2021-08-22 18:33] pappasam commented on #42
@androidfans confirmed that this is an issue with `coc.nvim`. Please refer to this issue for potential resolutions: <https://github.com/neoclide/coc.nvim/issues/110>

[2021-08-22 18:33] #42 closed

[2021-08-22 18:44] pappasam commented on #35
@JDuchniewicz @ctnguyenvn I think the stand-out line is the following:

`[coc.nvim]: ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.`

The error you mention is probably related to your environment and pip's implicit usage of `--user` within virtualenvs. I'd refer to the following resources to debug:

- https://github.com/microsoft/vscode-python/iss

[2021-08-22 18:45] pappasam commented on #21
Closing due to lack of additional detail.

[2021-08-22 18:45] #21 closed

[2021-08-22 18:46] pappasam commented on #23
Closing because of lack of activity / requested example

[2021-08-22 18:46] #23 closed

[2021-08-22 18:50] pappasam commented on #36
@KarlWithK are you still struggling with this issue? It may have been resolved by this: <https://github.com/openlawlibrary/pygls/pull/149>

[2021-08-23 08:22] vando2108 opened #44 "How I can set limit for number of suggestions?"

[2021-08-24 12:29] AlefCS commented on #35
Hi @pappasam, [this comment](https://github.com/microsoft/vscode-python/issues/14327#issuecomment-757408341) says to change the value of `include-system-site-packages` to `true` in `pyvenv.cfg` and apparently it worked for some people. But the `venv` is recreated with `false` every time I reopen vim, so I'm not being able to test it. Do you know how to change this permanently?

[2021-08-28 00:59] pappasam commented on #44
This is not supported. As far as I can tell, it is up to coc.nvim itself to determine how many suggestions are displayed to the end user. For example, you might have multiple language servers / coc extensions running at the same time, all of whom are providing coc.nvim completion options (coc-yank, coc-sources, etc). If you'd like to figure out how to limit the number of suggestions, I'd raise the

[2021-08-28 00:59] #44 closed

[2021-10-25 17:32] osnieltx opened #46 "Is it possible to configure coc-jedi to alert on invalid module imports?"
I'd like to know, before running a project, if some import is invalid. E.g. the module doesn't exist. Is it possible to be done with coc-jedi?

[2021-10-25 18:06] #46 closed, assigned to nobody

[2021-11-06 00:34] aug0stus commented on #1
Just sharing:

 On my machine, I had to install the python3.8-venv package in order for things to work.

[2021-11-25 16:33] mxkrn opened #47 "Cannot open Pip module documentation when imported as alias"
It seems like `coc-jedi` doesn't follow aliased imports when looking up documentation.

For example in the code snippet below, the lookup (using `showDocumentation`) for `numpy.ones` works but for `np.ones` it tells me that it cannot find the documentation.
[code]

I'm using `coc-jedi` without the `jedi-language-server` package and in a virtual environment. I guess this could be considered a featu

[2021-11-25 20:49] pappasam commented on #47
Sorry you're experiencing this! That said, I cannot reproduce on my end.

![numpy-example](https://user-images.githubusercontent.com/3723671/143498580-500d1fb5-d030-42fe-a6b2-b0d63a13ffcf.gif)

Would you be able to describe as many specifics about your environment that you can think of? For example, which OS, which Python version, how you're installing `coc-jedi`, etc?

[2021-11-26 13:40] mxkrn commented on #47
Yea sure.

OS: WSL2 Ubuntu 20.04
Python: 3.9.7
Virtual environment: conda

I'm installing `coc-jedi` using `vim-plug` for `neovim`.

I played around with this in more of a sandbox environment and I'm starting to get good results with jump definition which was also failing before. However, showing the documentation for aliases or even imported modules, i.e. `from collections import defaultdict`, is

[2021-11-27 01:42] pappasam commented on #47
This issue is directly related to an existing issue: our default `conda` support: <https://github.com/pappasam/coc-jedi/issues/4>

Basically, if might be a good idea for us to determine whether the user is using `conda` (or to at least provide a configuration option for `conda`). If you're willing to play around a bit, a good please in the code to start might he here: https://github.com/pappasam/c

[2021-12-03 19:22] pappasam commented on #36
Assuming lack of activity means this issue has been resolved by openlawlibrary/pygls#149

[2021-12-03 19:22] #36 closed

[2021-12-03 19:22] pappasam commented on #9
Closing due to lack of activity

[2021-12-03 19:22] #9 closed

[2021-12-03 19:43] pappasam commented on #35
Should be generally resolved by: https://github.com/pappasam/coc-jedi/commit/18458a9c13f00e63ab9d884e876b89330d3dfaea

[2021-12-03 19:43] #35 closed

[2021-12-03 19:44] pappasam commented on #11
Should be generally resolved by: https://github.com/pappasam/coc-jedi/commit/18458a9c13f00e63ab9d884e876b89330d3dfaea

[2021-12-03 19:44] #11 closed

[2021-12-03 19:45] pappasam commented on #47
@mxkrn would you be able to test out the latest release and see if it resolves your issue with conda? The latest release solved a problem with system-site-packages for normal virtual environments and I'm wondering if that fix may have inadvertently resolved this issue too? If it hasn't, then we can keep trying a conda-specific approach.

[2021-12-04 02:20] chamilad opened #48 "Issues when opening Python files for the first time"
tl;dr: `--system-site-packages` option needs to be removed when creating the virtualenv in the `createJlsVenvPosix()` function.

OS: Ubuntu 20.04
Python3: 3.8.10

I had a few issues trying to get the extension working. This is how I managed to fix it. This issue may contain behaviours caused by multiple root causes.

What I first did was to `CocInstall coc-jedi` in Vim. This completed without any

[2021-12-04 02:23] chamilad commented on #48
Opened PR #49 related to this.

[2021-12-04 04:19] chamilad commented on #48
Just noticed that this may be a regression caused by the latest fixes on #47

[2021-12-06 16:22] pappasam commented on #48
@chamilad thanks for opening this issue! Hopefully we can get it resolved and document any necessary work-arounds more clearly.

Would you please provide the error message you get after installing `python3-venv`? Based on my understanding, all `--system-site-packages` should do is add a line to `pyvenv.cfg` at the root of your virtualenv: `include-system-site-packages = true`. This is necessary be

[2021-12-06 20:12] pappasam commented on #48
I think this issue is related to this: https://github.com/pypa/pip/issues/1408

[2021-12-06 20:14] #48 closed

[2021-12-14 10:42] chamilad commented on #48
Hi @pappasam , sorry I lost my terminal history that day so I couldn't post the output after installing `python3-venv`. However I remember the issue was because of the following line of code.

https://github.com/pappasam/coc-jedi/blob/b8bb4e6d0a4cc6b678e1f0241ef7bcc499fb5d40/src/jlsExecutable.ts#L30

With `--system-site-packages` in place, and because I installed `jedi-language-server` on the syst

[2022-01-12 03:17] mxkrn commented on #47
@pappasam Took me a while but I finally got around to checking out the latest release, jump definition has improved and now also finds all aliased imports. However, for some reason it shows me twice the same definition option (duplicated) to jump to.

Documentation has improved in that it finds it, the problem is that it just briefly shows the docs and then it immediately disappears. (see gif)
![t

[2022-02-13 15:14] more-pepsi opened #50 "Can't format python code"
[coc.nvim]: Error on "formatSelected": formatRange provider not found for current buffe
r, your language server doesn't support it.

[coc.nvim]: Error on "format": Format provider not found for buffer: 1

Using the keymapping provided in the coc documentation, when running <leader>f to format the visual selection i'm given the error above. Any help?

I"ve added
"diagnostic-languageserver.formatFil

[2022-02-24 02:37] skysky97 opened #51 "Can't find jedi-language-server after install"
After `CocInstall coc-jedi`，vim reports .config/coc/extensions/node_modules/coc-jedi/.venv/bin/jedi-language-server not found.

I manually `python3 -m pip install jedi-language-server` and symlink to that path, it works.

But when I am writing the issue and try to reproduce:

1. remove jedi-language-server and coc-jedi
2. reinstall coc-jedi

It works fine.

[2022-02-24 02:58] #51 closed

[2022-02-24 08:28] skysky97 opened #52 "Does it support semantic highlight"
There is only basic highlight.

[2022-02-24 15:59] pappasam commented on #52
Not yet! Here are the supported features: https://github.com/pappasam/jedi-language-server#language-features

There is also an open PR about semantic tokens. That said, Jedi doesn't make this task easy, so it's slow going: https://github.com/pappasam/jedi-language-server/pull/196

[2022-02-24 15:59] #52 closed

[2022-03-26 08:31] Wei-Mao opened #53 "How to prevent the coc-jedi from showing the function docstring automatically?"
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/51208983/160231518-a6e8e0af-699d-4639-bb2b-08b2db0f54ee.png">

[2022-04-15 17:04] pappasam commented on #53
`coc-jedi` is not responsible for this. Look into `coc.nvim`'s `*signature.enable*` option in your `coc-settings.json` and set this value to false. My configuration (which accomplishes what you're requesting):
[code]

[2022-04-15 17:16] Wei-Mao commented on #53
Hi! Thanks a lot! Your configuration in `coc-settings.json` works as expected.

[2022-04-15 18:34] #53 closed

[2022-04-18 18:15] pappasam commented on #50
Do you have [coc-diagnostic](https://github.com/iamcco/coc-diagnostic) installed?

[2022-10-25 21:01] pappasam commented on #50
Closing due to inactivity

[2022-10-25 21:01] #50 closed